.bk-container {
    width: 100%;
    max-width: 1280px;
    padding: 0 16px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-self: center;

    &--column {
        flex-direction: column;
    }

    @media only screen and (min-width : $layout-breakpoint-sm) {
        padding: 0 64px;
    }
}
