.bk-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    flex-shrink: 0;
    flex-grow: 1;

    &__burger {
        display: flex;
        color: #fff;
        cursor: pointer;
        align-self: stretch;
        align-items: center;
        padding: 0 16px;
        margin-left: -16px;

        &:focus,
        &:active {
            box-shadow: none;
            outline: none;
        }

        @media only screen and (min-width : $layout-breakpoint-sm) {
            display: none;
        }
    }

    &__logo {
        flex-shrink: 0;
        flex-grow: 0;
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__menu {
        display: none;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            flex-shrink: 0;
            flex-grow: 1;
            margin-left: 64px;
            display: flex;
            justify-content: space-between;
        }
    }
    &__menu-item {
        font-size: 13px;
        line-height: 1;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease-out;
        text-transform: uppercase;

        &:hover {
            color: #ff7100;
        }
    }

    &__spacer {
        flex-shrink: 1;
        flex-grow: 1;
    }

    &__phone {
        flex-shrink: 0;
        flex-grow: 0;
        font-size: 20px;
        line-height: 1;

        & > a {
            cursor: default;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    &__social {
        display: none;

        @media only screen and (min-width : $layout-breakpoint-md) {
            margin-left: 32px;
            flex-shrink: 0;
            flex-grow: 0;
            display: flex;
        }
    }
    &__social-item {
        display: flex;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: #fff;
        padding: 6px;
        transform: scale(1);
        transition: transform 0.3s ease-out;

        &:not(:first-child) {
            margin-left: 24px;
        }

        &:hover {
            transform: scale(1.25);
        }

        &:focus,
        &:active {
            box-shadow: none;
            outline: none;
        }
    }
    &__social-item-icon {
        display: block;
        width: 12px;
        height: 12px;
        fill: #ff7100;
    }
}
