.bk-section-reviews {
    display: flex;
    flex-direction: column;

    &__carousel-wrap {
        position: relative;
    }

    &__carousel-inner {
        position: relative;
        margin-top: 24px;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            margin-top: 56px;
            padding: 0 64px;
        }
        @media only screen and (min-width : $layout-breakpoint-md) {
            border: 8px solid #fff;
            padding: 32px 96px;
        }
    }

    &__carousel-content {
        position: relative;
    }

    &__carousel {
        position: relative;
        overflow: hidden;
    }

    &__items {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        float: left;
        // height: 500px;
        width: calc(100vw - 32px);
        display: flex;
        // justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        flex-direction: row;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            width: calc(100vw - 256px);
        }
        @media only screen and (min-width : $layout-breakpoint-md) {
            width: 944px;
        }
    }

    &__item-photo {
        display: none;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            display: block;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }

    &__item-image {
        max-width: 100%;
    }

    &__item-bike {
        margin-top: 24px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }

    &__item-review {
        flex-shrink: 1;
        flex-grow: 1;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            margin-left: 24px;
        }
        @media only screen and (min-width : $layout-breakpoint-md) {
            margin-left: 48px;
        }
    }

    &__item-reviewer-photo {
        display: block;
        width: 192px;
        height: 192px;
        border: 6px solid #fff;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 auto;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            display: none;
        }
    }
    &__item-reviewer-photo-img {
        display: block;
        max-width: 100%;
    }

    &__item-reviewer-name {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin-top: 8px;
        text-align: center;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            text-align: left;
        }

        @media only screen and (min-width : $layout-breakpoint-md) {
            margin-top: 24px;
        }
    }

    &__item-text {
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;
        text-align: center;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            margin-top: 0;
            text-align: left;
        }
    }



    &__control {
        display: flex;
        position: absolute;
        top: 0;
        height: 192px;
        width: 64px;
        // background-color: #f00;
        z-index: 10;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;

        .material-icons {
            font-size: 48px;
            line-height: 1;
            color: #878787;
        }

        &:focus,
        &:active {
            box-shadow: none;
            outline: none;
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        &.bk-is-inactive {
            display: none;
        }

        @media only screen and (min-width : $layout-breakpoint-sm) {
            bottom: 0;
            height: auto;
        }
    }

    &__pagination {
        display: none;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
        }

        @media only screen and (min-width : $layout-breakpoint-md) {
            margin-top: 48px;
        }
    }

    &__pagination-item {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
        }

        &:not(:first-child) {
            margin-left: 24px;
        }
    }
    &__pagination-item-photo {
        flex-shrink: 0;
        flex-grow: 0;
        width: 90px;
        height: 90px;
        border: 2px solid #fff;
        border-radius: 100%;
        overflow: hidden;
    }
    &__pagination-item-image {
        display: block;
        max-width: 100%;
    }
    &__pagination-item-name {
        margin-left: 24px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        color: #ff7100;
        transition: color 0.3s ease-out;

        @media only screen and (min-width : $layout-breakpoint-md) {
            margin-left: 32px;
        }
    }
    &__pagination-item.bk-is-active &__pagination-item-name {
        color: rgba(0,0,0,0.54);
    }
}
