.bk-unit-title {
    text-align: center;

    &__value {
        display: inline-block;
        font-size: 32px;
        line-height: 48px;
        text-transform: uppercase;
        margin: 0;

        @media only screen and (min-width : $layout-breakpoint-sm) {
            position: relative;
            padding: 0 122px;

            &::after,
            &::before {
                content: '';
                display: block;
                height: 3px;
                width: 90px;
                background-color: #ff7100;
                position: absolute;
                top: 24px;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }       
    }
}
